# Every change requires review/approval from @bingh0 before it can be merged.
# See: https://docs.github.com/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners
* @bingh0
